name: Update Quarto Project

on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup Python
        uses: actions/setup-python@v3
      - run: pip install jupyter pytz yfinance

      - name: Clone Project
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git clone "https://github.com/gracecj/stocks-analysis.git"

      - name: Re-render site
        run: |
          cd stocks-analysis
          quarto render

      - name: Push new version
        run: |
          cd stocks-analysis
          git remote set-url origin https://x-access-token:${{ secrets.SECRETS }}@github.com/gracecj/stocks-analysis.git
          git add .
          git commit -m "Stocks Update"
          git push
