name: Update Quarto Project

on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup Python
        uses: actions/setup-python@v3

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with: 
          path: ../src
