name: Update Quarto Project

on:
  schedule:
    - cron: '37 1 * * *'  # Run the workflow every day at 1:37 AM UTC

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Install Quarto
        run: npm install -g @quartoknows/cli
      
      - name: Update and re-execute index.qmd
        run: quarto exec index.qmd --to index.qmd
      
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
