name: Update Quarto Project

on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Setup Python
        uses: actions/setup-python@v3
      - run: pip install jupyter
      - run: pip install pytz

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: ./src/index.qmd # By default, the current working dir is used i.e `quarto render .`
